<!DOCTYPE html>
{% extends "main/index.html" %}
{% block title %} <h1>User Favourites </h1> {% endblock %}
{% block content %}
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: left;
}
</style>

<div class="grid-container">
  {% for activity in new %}
    <div class="grid-item">
        <div class="col-md-4">
            <a class="text-dark" href="{% url 'main:activity_single' activity.slug %}">
                        <div class="card-body">
                            <h2 style="font-size:18px;font-weight:bold">{{activity.name}}</h2>
                            <p class="card-text">{{activity.description}}</p>
                            <div class="d-flex justify-content-between align-items-right">
                                <div id="favourite-section"><a href="{% url 'account:favourite_add' activity.id %}"
                                        class="btn btn-outline-primary">Remove</a></div>
                                <div class="row">
                                <form>
                                        <p> add to programme: </p><input type="checkbox" id="check">
                                        <p> reps:</p><input type="text" id="reps" name="reps">
                                        <p> sets:</p><input type="text" id="sets" name="sets">
                                </form>
                                </div>
                            </div>
                        </div>
            </a>
    </div>

        </div>
  {% endfor %}
    </div>
{% endblock %}


