<!DOCTYPE html>
{% extends "main/index.html" %}
{% block title %}

<div class="container d-flex justify-content-center bg-primary text-white mb-4 shadow rounded">
    <h1>User Favourites </h1>
</div>
{% endblock %}

{% block content %}
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
    input[type="checkbox"]{
  width: 36px; /*Desired width*/
  height: 36px; /*Desired height*/
  cursor: pointer;
}
.cover {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
img {
  border: 5px solid #87CEFA;
}
.form-control {
   height:36px !important;
}

</style>
{% load static %}
<body>
<form action="/account/create_programme/" method="post" id="create_programme">
        {% csrf_token %}
<div class="container">
<div class="row">
        {% for activity in favourites %}
    <div class="col-sm-4 mb-3 card-space d-flex justify-content-center">
        <div class="w3-card-4 " style="width:300px">
            <div class="card-header card-header bg-primary text-white mb-2">
                <div class="m">
                    <a href="{% url 'main:activity_single' activity.slug %}" >
                        <h1>{{activity.name}}</h1>
                    </a>
                </div>
            </div>
                    <div class="card-body p-1">
                        <p class="card-text mx-2">{{activity.description}}</p> <! consider how to manage long description, truncate etc >
                        {% if activity.image != None %}
                        <div class="container">
                            <div class="col" >
                                    <img src="{{ activity.image.url }}" alt="{{activity.name}}" width="200" height="200" class="cover mx-auto d-block rounded">
                            </div>
                        </div>
                        {% endif %}
                    </div>
            <div class="card-footer bg-primary text-white p-1">
                    <div class="container">
                    <div class="row">
                        <div class="d-flex justify-content-start p-1">
                            <div class="input-group">
                                <span class="input-group-text">Reps:</span>
                                <input class="form-control" id="reps">
                            </div>
                            <div class="input-group">
                                <span class="input-group-text">Sets:</span>
                                <input class="form-control sets" id="sets">
                            </div>
                        </div>
                        <div class="d-flex justify-content-start p-1">
                            <div class="input-group form-check-inline text-white">
                                <span class="input-group-text text-left" for="check">Add:</span>
                                <input class="form-check-input add" type="checkbox" name="checkbox" value="{{activity.therapy_activity}}" data-action="add">
                            </div>
                            <div id="favourite-section">
                                <div class="btn btn-danger text-right outline-white text-white">
                                    <a href="{% url 'account:favourite_add' activity.id %}">Unfavourite</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
  </div>
  {% endfor %}

</div>
</div>
    <div class="container save-button d-flex justify-content-end p-3">
        <button class="btn btn-success " type="submit" id="save" value="save">Save</button>
    </div>
</form>
<script type="text/javascript" src="{% static 'main/js/create_programme.js' %}"></script>
</body>
{% endblock %}


