{% if request.user.is_authenticated %}
    <form action="{% url 'account:favourite_unfavourite' %}" method="post">
        {% csrf_token %}
        {% if is_fav %}
            <button type="submit" id="favourite" name="activity_id" value="{{ activity.id }}" class="btn btn-danger">Unfavourite</button>
        {% else %}
            <button type="submit" id="favourite" name="activity_id" value="{{ activity.id }}" class="btn btn-primary">Favourite</button>
        {% endif %}
    </form>

{% endif %}
